body {
    background-color: #1f1f1f;
    font-family: 'Sriracha', cursive;
}

header nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid black;
}

header nav #header-img {

    align-self: flex-start;
}

header nav #nav-bar {

    align-self: flex-end;
}

header nav ul {
    
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;  
}

header nav ul li {

    margin: 10px;
    padding: 5px;
}

header nav ul li a {

    text-decoration: none;
    color: #eeeeee;
    font-size: 24px;
    font-weight: bold;
}



.main-content {

    display: grid;
    grid-template-rows: 500px auto auto 500px;
    row-gap: 50px;
}

.main-content .video-container {

    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20px;
    
}

.main-content .video-container iframe {

    box-shadow: -13px 7px 25px -13px rgba(92,92,92,0.94);
    border-radius: 10px;
}



.main-content .games-section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;

    padding: 30px;
    background-color: #9961f5;
}

.main-content .games-section h1 {

    grid-row: 1 / 2;
    grid-column: 2 / 3;

    justify-self: center;
    color: #1d1d1d;
    font-size: 42px;

}

.main-content .games-section .game-container {

    grid-row: 2 / 3;

    padding: 10px;
    border-radius: 10px;
    box-shadow: -10px 13px 25px -15px rgba(71,71,71,1);
    background-color: #eeeeee;
}

.main-content .games-section .game-container img {

    width: 100%;
    height: 200px;
} 


.main-content .About {

    display: grid;
    grid-template-rows: auto 1fr;

}

.main-content .About h1 {
    
    justify-self: center;
    color: #eeeeee;
    font-size: 42px;
}

.main-content .About .About-me {

    display: grid;
    justify-self: center;

    padding: 20px;
    border-radius: 20px;
    box-shadow: -10px 13px 25px -15px rgba(71,71,71,1);
    background-color: #eeeeee;
}

.main-content .About img {

   max-width: 600px;
   max-height: 300px;
   border-radius: 30px;
   justify-self: center;
}

.main-content .About p {

    justify-self: center;
    max-width: 600px;
}

.main-content .Contact {

    display: grid;
    grid-template-rows: 100px 1fr;
    justify-items: center;
    background-color: #9961f5;

}

.main-content .Contact form {

    display: grid;
    grid-template-rows: 50px 50px 200px 50px;

    padding: 20px;
    width: 700px;
}

.main-content .Contact .form-group input, textarea {

    padding: 10px;
    width: 690px;
    border: none;
    border-radius: 5px;
}

.main-content .Contact .contact-btn {

    border: none;
    border-radius: 5px;
    background-color: #7d11d4;
    color: #ffffff;
    font-size: 18px;
}

footer {

    display: flex;
    justify-content: center;

    background-color: #1f1f1f;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}